<header class="site-header">
    <div class="site-header-item">
        <a class="site-header-logo" href="/">
            <img src="/static/logo.png" alt="">
            <span>GoodFriends</span>
        </a>
    </div>
    <div class="site-header-item">
        <a href="/p/new" class="button button-outlined">สร้างโพสต์ใหม่</a>
    </div>
</header>