<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NewPost</title>
    <link rel="icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    <%- include('header') %>
    <section class="section">
        <div class="container">
            <h3>สร้างโพสต์สำเร็จ</h3>
            <p>โพสต์จะปรากฎที่หน้าแรก คุณสามารถกลับไปดู และพูดคุยกับเพื่อนๆ ได้เลย</p>
            <a href="/">กลับหน้าแรก</a>
        </div>
    </section>
    <%- include('footer') %>
</body>
</html>